/* Poppins Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Nunito Sans*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400&display=swap');

html {
  background-image: url("../img/background-image.svg");
  background-size: 100%; 
  background-repeat: no-repeat;
  background-color: #353535;
}

body, div, p, span {
  text-align: left;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: lighter;
  font-size: 1em/0.625em;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5 { 
  text-align: left;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-align: left;
  color: #FFFFFF;
}

h1 {
  font-size: 2.25em/2.5em;
  letter-spacing: 0.0225em;
  margin-bottom: 0.4em;
  color: #F3AA00;
}

.company-logo {
  width: 100%;
  max-width: 96px;
}